[submodule "modules/fangz"]
	path = modules/fangz
	url = https://github.com/jassielof/fangz
[submodule "modules/toml"]
	path = modules/toml
	url = https://github.com/jassielof/toml-zig
[submodule "modules/tempfile"]
	path = modules/fugaz
	url = https://github.com/jassielof/fugaz.git
[submodule "modules/vereda"]
	path = modules/vereda
	url = https://github.com/jassielof/vereda
